:host ::ng-deep {
  .mat-drawer-content {
    overflow: unset;
  }
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;

    mat-sidenav-container {
      height: 100%;
    }
  }

  mat-sidenav {
    padding: 2rem 1.6rem;

    nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .lang-btn {
      mat-icon {
        width: 3rem;
        height: 3rem;
        font-size: 3rem;
      }
    }
  }
}
