.product-list-container {
  .products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    margin: 4rem auto 0;
    width: 94%;

    @media screen and (max-width: 768px) {
      justify-content: center;
    }
  }

  mat-tab-group {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    width: 90%;
    margin: 1rem auto;
  }
}
