.logo {
  flex-grow: 1;

  span {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: orange;
  }
}

.lang-btn {
  mat-icon {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
  }
}
