<div class="product-card">
  <div class="img-box">
    <img [src]="product.image" [alt]="product.title" />
  </div>
  <h3 class="product-title" [matTooltip]="product.title">
    {{ product.title }}
  </h3>
  <div class="product-category">{{ product.category }}</div>
  <div class="product-rating">
    <star-rating
      [starType]="'svg'"
      [rating]="product.rating?.rate || 0"
    ></star-rating>
    <span>({{ product.rating?.count }})</span>
  </div>
  <div class="product-price">
    {{
      product.price
        | currency : (localeService.currentLang !== Language.ar ? 'EGP' : 'USD')
    }}
  </div>
</div>
