// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$zow-primary: mat.define-palette(mat.$indigo-palette);
$zow-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$zow-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$zow-theme: mat.define-light-theme(
  (
    color: (
      primary: $zow-primary,
      accent: $zow-accent,
      warn: $zow-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($zow-theme);

/* You can add global styles to this file, and also import other style files */

*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Tajawal', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #dedede;
}

::-webkit-scrollbar-thumb:hover {
  background: #bebebe;
}

/* ------------------------ */
/* BELOW 1344px (Smaller desktops) */
/* ------------------------ */
@media (max-width: 84em) {
  :root {
    font-size: 56.25%;
  }
}

/* ------------------------ */
/* BELOW 944px (Tablets) */
/* ------------------------ */
@media (max-width: 59em) {
  :root {
    font-size: 50%;
  }
}

mat-spinner {
  height: 80vh !important;
  margin: 0 auto;
}
