form {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;

  mat-form-field {
    width: 30vw;
    font-size: 1.6rem;

    @media screen and (max-width: 768px) {
      width: 60vw;
    }
  }

  > button {
    margin-top: 2rem;
    width: 10rem;
    font-size: 1.4rem;
  }

  mat-error {
    font-size: 1.2rem;
  }
}
